absl-py==0.15.0
astor==0.8.1
cached-property==1.5.2
ConfigArgParse==1.5.3
configer @ git+https://github.com/MPI-IS/configer.git@8cd1e3e556d9697298907800a743e120be57ac36
configparser==5.0.2
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
distro==1.6.0
dotmap==1.3.24
freetype-py==2.2.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.1
h5py==3.1.0
homogenus===.5
-e git+https://github.com/nghorbani/human_body_prior.git@0278cb45180992e4d39ba1a11601f5ecc53ee148#egg=human_body_prior
imageio==2.5.0
importlib-metadata==4.8.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
mesh-intersection==0.1.0
networkx==2.5.1
numpy==1.16.3
opencv-python==4.5.4.58
opt-einsum==3.3.0
packaging==21.0
Pillow==8.4.0
pkg_resources==0.0.0
protobuf==3.19.0
psbody-mesh @ git+https://github.com/MPI-IS/mesh.git@49e70425cf373ec5269917012bda2944215c5ccd
pyglet==1.5.21
PyOpenGL==3.1.0
pyparsing==3.0.1
pyrender==0.1.45
python-dateutil==2.8.2
PyWavelets==1.1.1
PyYAML==5.1.1
pyzmq==22.3.0
scikit-build==0.12.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
Shapely==1.8.0
six==1.16.0
smplx==0.1.28
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
torch==1.10.0
torchgeometry==0.1.2
tqdm==4.62.3
trimesh==3.9.34
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wrapt==1.13.2
zipp==3.6.0
